/* styles/temples-large.css */

@media screen and (min-width: 600px) {
    #menu { display: none; } /* Hide hamburger */

    .navigation {
        display: flex !important; /* Always show menu */
        flex-direction: row;
        justify-content: center;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
    }
}