/* styles/temples-large.css */

/* Author: Igbokwe Chibueze */

@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }

    /* Adjust nav to horizontal */
    nav {
        flex-direction: row;
        justify-content: center;
    }

    .navigation {
        display: flex !important;
        flex-direction: row;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}